.container {
	margin: 0 auto;
}
.bodySection {
	height: 700px;
}
.bodySection > .span8 {
	margin-left: 0;
}

.navContainer {
	float: left;
	width: 20%;
	height: 100%;
	background-color: #000;
}
.nav-list {
	height: 100%;
	background-color: #c44;
}

.gridContainer {
	float: right;
	width: 80%;
	height: 100%;
	/*background-color: #444;*/
}
.gridContainer > .sprites {
	height: 14%;
	background-color: #fff;
}

.imgGrid {
	width: 600px;
	height: 86%;
	margin: 0 auto 0 auto;
	background-color: #44c;
}
.imgGrid ul, ul.nav-list {
	list-style: none;
}
.imgGrid li {
	position: relative;
	float: left;
	width: 25%;
	height: 25%;
}
.imgGrid li img {
	display: block;
	width: 100%;
	height: 100%;
}
.hoverBox {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../images/whiteBG.png");
	display: none;
}
.searchIcon {
	display: block;
	width: 
}

.footerSection {
	float: none;
	margin: 0 auto;
	/*width: 100%;*/
	height: 130px;
	border: #000 solid 2px;
}
.footerSection > ul {
	list-style: none;
}