.row {
	margin-left: 0;
}

.bodySection {
	height: 700px;
}
.bodySection > .span8 {
	margin-left: 0;
}

.navContainer {
	float: left;
	width: 20%;
	height: 100%;
	background-color: #000;
}
.nav-list {
	height: 100%;
	background-color: #c44;
}

.gridContainer {
	float: right;
	width: 80%;
	height: 100%;
	background-color: #444;
}
.imgGrid {
	width: 600px;
	height: 600px;
	margin: 0 auto 0 auto;
	background-color: #44c;
}

.footerSection {
	float: none;
	margin: 0 auto;
	/*width: 100%;*/
	height: 130px;
	border: #000 solid 2px;
}
.footerSection > .span2 {
	width: 211px;
	height: 100%;
	float: left;
	margin-left: 1.6%;
	background-color: #666;
	border: #fb0 solid 4px;
}