.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}
/* Fonts section started*/
@font-face {
    font-family: 'calibriregular';
    src: url('../fonts/calibri/calibri-webfont.eot');
    src: url('../fonts/calibri/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibribold';
    src: url('../fonts/calibri/calibrib-webfont.eot');
    src: url('../fonts/calibri/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibrib-webfont.woff') format('woff'),
         url('../fonts/calibri/calibrib-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibrib-webfont.svg#calibribold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibriitalic';
    src: url('../fonts/calibri/calibrii-webfont.eot');
    src: url('../fonts/calibri/calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibrii-webfont.woff') format('woff'),
         url('../fonts/calibri/calibrii-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibrii-webfont.svg#calibriitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibribold_italic';
    src: url('../fonts/calibri/calibriz-webfont.eot');
    src: url('../fonts/calibri/calibriz-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibriz-webfont.woff') format('woff'),
         url('../fonts/calibri/calibriz-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibriz-webfont.svg#calibribold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Calibri fonts*/
@font-face {
    font-family: 'ergoebold';
    src: url('../fonts/ergoe/ergob-webfont.eot');
    src: url('../fonts/ergoe/ergob-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ergoe/ergob-webfont.woff') format('woff'),
         url('../fonts/ergoe/ergob-webfont.ttf') format('truetype'),
         url('../fonts/ergoe/ergob-webfont.svg#ergoebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ergoeitalic';
    src: url('../fonts/ergoe/ergoi-webfont.eot');
    src: url('../fonts/ergoe/ergoi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ergoe/ergoi-webfont.woff') format('woff'),
         url('../fonts/ergoe/ergoi-webfont.ttf') format('truetype'),
         url('../fonts/ergoe/ergoi-webfont.svg#ergoeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ergoeregular';
    src: url('../fonts/ergoe/ergor-webfont.eot');
    src: url('../fonts/ergoe/ergor-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ergoe/ergor-webfont.woff') format('woff'),
         url('../fonts/ergoe/ergor-webfont.ttf') format('truetype'),
         url('../fonts/ergoe/ergor-webfont.svg#ergoeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ergoebold_italic';
    src: url('../fonts/ergoe/ergobi-webfont.eot');
    src: url('../fonts/ergoe/ergobi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ergoe/ergobi-webfont.woff') format('woff'),
         url('../fonts/ergoe/ergobi-webfont.ttf') format('truetype'),
         url('../fonts/ergoe/ergobi-webfont.svg#ergoebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Fonts section end*/

/* ---------- Animation Delays Section Started ---------- */

.de1ms { -webkit-animation-delay: 0.1s;
			-moz-animation-delay: 0.1s;
			 -ms-animation-delay: 0.1s;
			  -o-animation-delay: 0.1s;
				 animation-delay: 0.1s; }

.de2ms { -webkit-animation-delay: 0.2s;
			-moz-animation-delay: 0.2s;
			 -ms-animation-delay: 0.2s;
			  -o-animation-delay: 0.2s;
				 animation-delay: 0.2s; } 

.de3ms { -webkit-animation-delay: 0.3s;
			-moz-animation-delay: 0.3s;
			 -ms-animation-delay: 0.3s;
			  -o-animation-delay: 0.3s;
				 animation-delay: 0.3s; }

.de4ms { -webkit-animation-delay: 0.4s;
			-moz-animation-delay: 0.4s;
			 -ms-animation-delay: 0.4s;
			  -o-animation-delay: 0.4s;
				 animation-delay: 0.4s; }

.de5ms { -webkit-animation-delay: 0.5s;
			-moz-animation-delay: 0.5s;
			 -ms-animation-delay: 0.5s;
			  -o-animation-delay: 0.5s;
				 animation-delay: 0.5s; }

.de6ms { -webkit-animation-delay: 0.6s;
			-moz-animation-delay: 0.6s;
			 -ms-animation-delay: 0.6s;
			  -o-animation-delay: 0.6s;
				 animation-delay: 0.6s; }

.de7ms { -webkit-animation-delay: 0.7s;
			-moz-animation-delay: 0.7s;
			 -ms-animation-delay: 0.7s;
			  -o-animation-delay: 0.7s;
				 animation-delay: 0.7s; }

.de8ms { -webkit-animation-delay: 0.8s;
			-moz-animation-delay: 0.8s;
			 -ms-animation-delay: 0.8s;
			  -o-animation-delay: 0.8s;
				 animation-delay: 0.8s; }

.de9ms { -webkit-animation-delay: 0.9s;
			-moz-animation-delay: 0.9s;
			 -ms-animation-delay: 0.9s;
			  -o-animation-delay: 0.9s;
				 animation-delay: 0.9s; }

.de1s {  -webkit-animation-delay: 1s;
			-moz-animation-delay: 1s;
			 -ms-animation-delay: 1s;
			  -o-animation-delay: 1s;
				 animation-delay: 1s; }

.de11ms {  -webkit-animation-delay: 1.1s;
			  -moz-animation-delay: 1.1s;
			   -ms-animation-delay: 1.1s;
				-o-animation-delay: 1.1s;
				   animation-delay: 1.1s; }		

.de12ms {  -webkit-animation-delay: 1.2s;
			  -moz-animation-delay: 1.2s;
			   -ms-animation-delay: 1.2s;
				-o-animation-delay: 1.2s;
				   animation-delay: 1.2s; }	

.de13ms {  -webkit-animation-delay: 1.3s;
			  -moz-animation-delay: 1.3s;
			   -ms-animation-delay: 1.3s;
				-o-animation-delay: 1.3s;
				   animation-delay: 1.3s; }	

.de14ms {  -webkit-animation-delay: 1.4s;
			  -moz-animation-delay: 1.4s;
			   -ms-animation-delay: 1.4s;
				-o-animation-delay: 1.4s;
				   animation-delay: 1.4s; }	

.de15ms {  -webkit-animation-delay: 1.5s;
			  -moz-animation-delay: 1.5s;
			   -ms-animation-delay: 1.5s;
				-o-animation-delay: 1.5s;
				   animation-delay: 1.5s; }	

.de16ms {  -webkit-animation-delay: 1.6s;
			  -moz-animation-delay: 1.6s;
			   -ms-animation-delay: 1.6s;
				-o-animation-delay: 1.6s;
				   animation-delay: 1.6s; }

.de17ms {  -webkit-animation-delay: 1.7s;
			  -moz-animation-delay: 1.7s;
			   -ms-animation-delay: 1.7s;
			    -o-animation-delay: 1.7s;
				   animation-delay: 1.7s; }

.de18ms {  -webkit-animation-delay: 1.8s;
			  -moz-animation-delay: 1.8s;
			   -ms-animation-delay: 1.8s;
				-o-animation-delay: 1.8s;
				   animation-delay: 1.8s; }

.de19ms {  -webkit-animation-delay: 1.9s;
			  -moz-animation-delay: 1.9s;
			   -ms-animation-delay: 1.9s;
				-o-animation-delay: 1.9s;
				   animation-delay: 1.9s; }																															

.de2s { -webkit-animation-delay: 2s;
		   -moz-animation-delay: 2s;
			-ms-animation-delay: 2s;
			 -o-animation-delay: 2s;
			    animation-delay: 2s; }

.de21ms {  -webkit-animation-delay: 2.1s;
			  -moz-animation-delay: 2.1s;
			   -ms-animation-delay: 2.1s;
				-o-animation-delay: 2.1s;
				   animation-delay: 2.1s; }

.de22ms {  -webkit-animation-delay: 2.2s;
			  -moz-animation-delay: 2.2s;
			   -ms-animation-delay: 2.2s;
				-o-animation-delay: 2.2s;
				   animation-delay: 2.2s; }

.de23ms {  -webkit-animation-delay: 2.3s;
			  -moz-animation-delay: 2.3s;
			   -ms-animation-delay: 2.3s;
				-o-animation-delay: 2.3s;
				   animation-delay: 2.3s; }

.de24ms {  -webkit-animation-delay: 2.4s;
			  -moz-animation-delay: 2.4s;
			   -ms-animation-delay: 2.4s;
				-o-animation-delay: 2.4s;
				   animation-delay: 2.4s; }

.de25ms {  -webkit-animation-delay: 2.5s;
			  -moz-animation-delay: 2.5s;
			   -ms-animation-delay: 2.5s;
				-o-animation-delay: 2.5s;
				   animation-delay: 2.5s; }

.de26ms {  -webkit-animation-delay: 2.6s;
			  -moz-animation-delay: 2.6s;
			   -ms-animation-delay: 2.6s;
				-o-animation-delay: 2.6s;
				   animation-delay: 2.6s; }

.de27ms {  -webkit-animation-delay: 2.7s;
			  -moz-animation-delay: 2.7s;
			   -ms-animation-delay: 2.7s;
				-o-animation-delay: 2.7s;
				   animation-delay: 2.7s; }

.de28ms {  -webkit-animation-delay: 2.8s;
			  -moz-animation-delay: 2.8s;
			   -ms-animation-delay: 2.8s;
				-o-animation-delay: 2.8s;
				   animation-delay: 2.8s; }

.de29ms {  -webkit-animation-delay: 2.9s;
			  -moz-animation-delay: 2.9s;
			   -ms-animation-delay: 2.9s;
			    -o-animation-delay: 2.9s;
				   animation-delay: 2.9s; }

.de3s { -webkit-animation-delay: 3s;
		   -moz-animation-delay: 3s;
			-ms-animation-delay: 3s;
			 -o-animation-delay: 3s;
				animation-delay: 3s; }

.de4s { -webkit-animation-delay: 4s; }

.de5s { -webkit-animation-delay: 5s; }

/* ---------- Animation Delays Section End ---------- */

.container {
	margin: 0 auto;
}
.bodySection {
	height: 700px;
}
.bodySection > .span8 {
	margin-left: 0;
}

.navContainer {
	float: left;
	width: 20%;
	height: 100%;
    /*background-color: #000;*/
	/*border: 1px solid #000;*/
}
.nav-list {
	/*height: 100%;*/
    /*background-color: #c44;*/
	/*border: 1px solid #c44;*/
}
.nav-list li {
    /*padding-right: 20px;*/
    overflow: hidden;
}
.nav-list li:hover > a {
    color: #333333;
}
.nav-list > li:hover .subMenu {
	/*height: 138px;*/
	opacity: 1;
}
.nav-list li a,
.subMenu li a {
    display: table;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #e4e4e4;
    padding: 3% 0;
    font: 142%/92% 'ergoeregular', sans-serif;
    letter-spacing: 1px;
}
.subMenu {
	height: 0;
	opacity: 0;

	-webkit-transition: all 0.5s ease;
	   -moz-transition: all 0.5s ease;
		 -o-transition: all 0.5s ease;
			transition: all 0.5s ease;

	-webkit-animation-duration: 0.5s;
	   -moz-animation-duration: 0.5s;
	   	 -o-animation-duration: 0.5s;
	   	 	animation-duration: 0.5s;
  	
  	-webkit-animation-delay: 0s;
  	   -moz-animation-delay: 0s;
  		 -o-animation-delay: 0s;
  			animation-delay: 0s;
}
.subMenu li a {
    font-size: 92%;
    line-height: 100%;
    border-bottom: none;
    padding: 1.2% 0;
    /*padding: 3.84% 0;*/
}
.subMenu li a:first-child {    
   padding-top: 3%;
}
.subMenu li a:hover {
    color: #ee0000;
}
a.logo {
    display: block;
    margin: 20% 0;
    width: 65%;
}
a.logo img {
    display: block;
    width: 100%;
    /*height: 100%;*/
}
.gridContainer {
	float: right;
	width: 80%;
	height: 100%;
	/*background-color: #444;*/
}
.gridContainer > .sprites {
	height: 14%;
	background-color: #fff;
}
.sprites > img {
    float: right;
    display: block;
    margin: 4% 2% 0 0;
    width: 20%;
}

.gridShadow {
	width: 2%;
	height: 86%;
	background: url("../images/grid_shadow_effect.png") no-repeat left center;
	background-size: contain;

	position: absolute;
	margin: 4% 0 4% -0.4%;
	z-index: 70;
}
.imgGrid {
	position: relative;
	width: 600px;
	height: 86%;
	margin: 0 auto 0 auto;
}
.gridCurtain {
	width: 100%;
	height: 100%;
	background: url("../images/whiteBG.png");

	position: absolute;
	z-index: 50;
	overflow: hidden;
	display: none;
}
.blackBox {
	width: 84%;
	height: 83%;
	background: url("../images/info_container_bg.jpg");
	/*background-color: #2b2b2b;*/

	margin: 6% 0 5% 0;
	position: relative;
	z-index: 60;
    overflow: hidden;
}
.close {
    /*display: block;*/
    position: absolute;
    top: 10%;
    right: 17%;
    z-index: 99;

    width: 21px;
    height: 23px;
    /*background-color: #c00;*/
    background: url("../images/Inspire_sprite.png") 0 -40px;
}
.close:hover{
	background-color: #0c0;
	cursor: pointer;
}
.imgGrid ul, ul.nav-list, ul.subMenu {
	list-style: none;
}
.subMenu {
border-bottom: 1px solid #e4e4e4;
}
.imgGrid li {
	position: relative;
	float: left;
	width: 25%;
	height: 25%;
    cursor: pointer;
    overflow: hidden;
}
.imgGrid li img {
	display: block;
	width: 100%;
	height: 100%;
}
.imgGrid li:hover .hoverBox{
  	opacity: 1;
  	margin-top: 0;
}
.hoverBox {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../images/whiteBG.png");
    color: #666666;
    font-family: 'calibriregular', sans-serif;
    font-size: 100%;
    text-align: center;
    padding-top: 25%;

  	opacity: 0;
  	margin-top:-20px;
  	-webkit-transition: opacity 0.5s ease, margin-top 0.5s ease;
  	   -moz-transition: opacity 0.5s ease, margin-top 0.5s ease;
  		 -o-transition: opacity 0.5s ease, margin-top 0.5s ease;
  		-ms-transition: opacity 0.5s ease, margin-top 0.5s ease;
  			transition: opacity 0.5s ease, margin-top 0.5s ease;
}
.boxText {
	display: inline;
}
.searchIcon {
	display: block;
	background: url("../images/search_icon.png") no-repeat top center;
	background-size: 100%;
	width: 12%;
	height: 30%;
	margin: 5% 0 0 45%;
}

.footerSection {
	float: none;
	margin: 0 auto;
	/*width: 100%;*/
	height: 130px;
	/*border: #000 solid 2px;*/
}
.footerSection > ul {
	list-style: none;
}
h2, h3, h4 {
	width: 54%;
	font-family: 'ergoeregular', sans-serif;
	font-weight: normal;
}
h2 {
	font-size: 170%;
	margin-bottom: 2%;
}
h3 {
	font-size: 145%;
	margin-bottom: 2%;
}
h4 {
	font-size: 100%;
	margin-bottom: 2%;
}
.infoText {
	/*width: 52%;*/
	margin: 8% 0 0 6%;
	float: left;
}
.infoText p a {
	text-decoration: none;
	color: #cccccc;
}
/*.infoText h3, .infoText h4 {
    color: #999;
}*/
p, .boldItalics {
	width: 52%;
	font: 109%/124% 'calibriregular', sans-serif;
	margin-bottom: 2%;
    color: #999999;
}
.boldItalics, .inBoldItalic {
	display: inline-block;
    font-family: 'calibribold_italic', sans-serif;
	/*margin-top: 5%;*/
	margin-bottom: 5%;
    color: #fff;
}
.inBoldItalic {
    display: inline;
}
.whiteText {
	/*letter-spacing: 1px;*/
	color: #ffffff;
}
.greyText {
	color: #999999;
}
.redText {
	color: #cc0000;
}
.yellowText {
	color: #ffcc66;
}
.cyanText {
	color: #33ffff;
}
iframe {
	position: absolute;
	width: 55%;
	height: 75%;
	/*margin: 6% 0 0 -18%;*/
	top: 7%;
	right: 5%;
	border: #666 dotted 2px;
}
.feedbackForm {
	width: 100%;
	margin: 4% 0 0 0;
}
.active {
	color: #ee0000!important;
}
.whoWeAreCont,
.whatWeDoCont,
.ourApproachCont,
.ourTeamCont,
.ourInfraCont,
.designCont {
	height: 100%;
	/*background-size: 75%;*/
    position: relative;
}
.whoWeAreCont {
    background: url("../images/Who-We-Are.png") no-repeat right bottom;
}
.whatWeDoCont {
    background: url("../images/What-Do-We-Do.png") no-repeat right bottom;
}
.ourApproachCont {
    background: url("../images/Our-Approach.png") no-repeat right bottom;
}
.ourTeamCont {
    background: url("../images/Our-Team.png") no-repeat right bottom;
}
.ourInfraCont {
    background: url("../images/Our-Infrastructure.png") no-repeat right bottom;
}
.talkToUsCont > .infoText {
	width: 100%;
	margin: 7% 0 10% 6%;
}

.services {
    width: 100%;
    height: 100%;
}
.services li {
    /*overflow: hidden;*/
    float: left;
    width: 20%;
    height: 100%;
}
.services li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.services li a i {
    display: inline-block;
    /*width: 60px;
    height: 60px;*/
    width: 34%;
    height: 100%;
    /*background: red;*/
    /*background: url("../images/Inspire_sprite.png") 0 0 no-repeat;*/
    /*background-size: 300%;*/
    /*background-size: 250%;*/
    float: left;
}
.services li a span {
    float: left;
    margin-top: 23%;
    font-family: 'calibriregular', sans-serif;
    color: #000;
}
.services li a i.designSupport {
 /*   background-position: -5px -90px;
    background-position: -5px -68px;*/
    background: url("../images/design_support.png") center center no-repeat;
    background-size: 100%;
}
.services li a:hover i.designSupport {
    background: url("../images/design_support_hover.png") center center no-repeat;   
    background-size: 100%;
}
.services li a i.brandManagement {
 /*   background-position: -5px -90px;
    background-position: -5px -68px;*/
    background: url("../images/brand_management.png") center center no-repeat;
    background-size: 100%;
}
.services li a:hover i.brandManagement {
    background: url("../images/brand_management_hover.png") center center no-repeat;   
    background-size: 100%;
}
.services li a i.auditIdentity {
 /*   background-position: -5px -90px;
    background-position: -5px -68px;*/
    background: url("../images/audit_identity.png") center center no-repeat;
    background-size: 100%;
}
.services li a:hover i.auditIdentity {
    background: url("../images/audit_identity_hover.png") center center no-repeat;   
    background-size: 100%;
}
.services li a i.exhibition {
 /*   background-position: -5px -90px;
    background-position: -5px -68px;*/
    background: url("../images/exhibition.png") center center no-repeat;
    background-size: 100%;
}
.services li a:hover i.exhibition {
    background: url("../images/exhibition_hover.png") center center no-repeat;   
    background-size: 100%;
}
.services li a i.onlineMedia {
 /*   background-position: -5px -90px;
    background-position: -5px -68px;*/
    background: url("../images/online_media.png") center center no-repeat;
    background-size: 100%;
}
.services li a:hover i.onlineMedia {
    background: url("../images/online_media_hover.png") center center no-repeat;   
    background-size: 100%;
}
.designCont {
    background: url("../images/Design-Support.png") no-repeat right bottom;
}
.title {
	font-family: 'ergoebold';
}
.gradientText {
	font-family: 'calibribold_italic';
	line-height: 140%;
	margin: 0 10% 2% -50px;
	padding: 1% 0 1% 50px;
	background: url("../images/gradient_text_bg.png ") repeat-y;
	background-size: 100%;
}
.bottomLinks {
	width: 100%;
	height: 14%;
	position: absolute;
	bottom: 0;
	font-size: 100%;
}
.subPageLink {
	padding: 2% 0 0 0;
}
.pdfSection {
	text-align: right;
}
.pdfSection a {
	display: block;
	height: 100%;
	text-decoration: none;
	padding: 6% 0 0 0;
}
.subPageLink,
.pdfSection {
	height: 100%;
	font-family: 'calibriitalic';
	text-decoration: none;
	float: left;
	margin: 0 2% 0 0;
}
.designPdfText {
	font-family: 'calibribold_italic';
}
.downloadText {
	font-family: 'calibriregular';
	font-size: 90%;
}

.designPdfIcon {
	width: 20%;
	height: 100%;
	float: left;
	background: url("../images/design_support_hover.png") no-repeat;
	margin: 0 0 0 6%;
}

/* Media Querry*/
@media (max-width: 1200px) {
    .nav-list li a {
     font-size: 115%;
     line-height: 80%; 
     padding: 4% 0;
    }
    .subMenu li a {
    font-size: 78%;
    line-height: 90%;
    padding: 1.5% 0;
    }
    a.logo {
    display: block;
    margin-bottom: 20%;
    width: 75%;
    }
    h2 {
        font-size: 110%;
    }
    h3 {
        font-size: 105%;
    }
    p, .boldItalics {
        font: 82%/115% 'calibriregular', sans-serif;
        margin-bottom: 4%;
    }
    .services li a span {
    	font-size: 92%;
    }
}