/* Fonts section started*/
@font-face {
    font-family: 'calibriregular';
    src: url('../fonts/calibri/calibri-webfont.eot');
    src: url('../fonts/calibri/calibri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibri-webfont.woff') format('woff'),
         url('../fonts/calibri/calibri-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibri-webfont.svg#calibriregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibribold';
    src: url('../fonts/calibri/calibrib-webfont.eot');
    src: url('../fonts/calibri/calibrib-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibrib-webfont.woff') format('woff'),
         url('../fonts/calibri/calibrib-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibrib-webfont.svg#calibribold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibriitalic';
    src: url('../fonts/calibri/calibrii-webfont.eot');
    src: url('../fonts/calibri/calibrii-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibrii-webfont.woff') format('woff'),
         url('../fonts/calibri/calibrii-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibrii-webfont.svg#calibriitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'calibribold_italic';
    src: url('../fonts/calibri/calibriz-webfont.eot');
    src: url('../fonts/calibri/calibriz-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/calibri/calibriz-webfont.woff') format('woff'),
         url('../fonts/calibri/calibriz-webfont.ttf') format('truetype'),
         url('../fonts/calibri/calibriz-webfont.svg#calibribold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Calibri fonts*/
@font-face {
    font-family: 'ergoebold';
    src: url('../fonts/ergoe/ergob-webfont.eot');
    src: url('../fonts/ergoe/ergob-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ergoe/ergob-webfont.woff') format('woff'),
         url('../fonts/ergoe/ergob-webfont.ttf') format('truetype'),
         url('../fonts/ergoe/ergob-webfont.svg#ergoebold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ergoeitalic';
    src: url('../fonts/ergoe/ergoi-webfont.eot');
    src: url('../fonts/ergoe/ergoi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ergoe/ergoi-webfont.woff') format('woff'),
         url('../fonts/ergoe/ergoi-webfont.ttf') format('truetype'),
         url('../fonts/ergoe/ergoi-webfont.svg#ergoeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ergoeregular';
    src: url('../fonts/ergoe/ergor-webfont.eot');
    src: url('../fonts/ergoe/ergor-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ergoe/ergor-webfont.woff') format('woff'),
         url('../fonts/ergoe/ergor-webfont.ttf') format('truetype'),
         url('../fonts/ergoe/ergor-webfont.svg#ergoeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ergoebold_italic';
    src: url('../fonts/ergoe/ergobi-webfont.eot');
    src: url('../fonts/ergoe/ergobi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ergoe/ergobi-webfont.woff') format('woff'),
         url('../fonts/ergoe/ergobi-webfont.ttf') format('truetype'),
         url('../fonts/ergoe/ergobi-webfont.svg#ergoebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Fonts section end*/

.container {
	margin: 0 auto;
}
.bodySection {
	height: 700px;
}
.bodySection > .span8 {
	margin-left: 0;
}

.navContainer {
	float: left;
	width: 20%;
	height: 100%;
    /*background-color: #000;*/
	/*border: 1px solid #000;*/
}
.nav-list {
	/*height: 100%;*/
    /*background-color: #c44;*/
	border: 1px solid #c44;
}
.nav-list li {
    padding-right: 20px;
}
.nav-list li a,
.subMenu li a {
    display: block;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #e4e4e4;
    padding: 5% 0;
    font: 142%/90% 'ergoeregular', sans-serif;
    letter-spacing: 1px;
}
.subMenu li a {
    font-size: 90%;
    line-height: 100%;
    border-bottom: none;
    padding: 1.5% 0;
    /*padding: 3.84% 0;*/
}
.subMenu li a:first-child {
    
    padding-top: 3%;
}
a.logo {
    display: block;
    margin: 25% 0;
}
.gridContainer {
	float: right;
	width: 80%;
	height: 100%;
	/*background-color: #444;*/
}
.gridContainer > .sprites {
	height: 14%;
	background-color: #fff;
}

.gridShadow {
	width: 2%;
	height: 86%;
	background: url("../images/grid_shadow_effect.png") no-repeat left center;
	background-size: contain;

	position: absolute;
	margin: 4% 0 4% -0.4%;
	z-index: 70;
}
.imgGrid {
	position: relative;
	width: 600px;
	height: 86%;
	margin: 0 auto 0 auto;
	background-color: #44c;
}
.gridCurtain {
	width: 100%;
	height: 100%;
	background: url("../images/whiteBG.png");

	position: absolute;
	z-index: 50;
	/*display: none;*/
}
.blackBox {
	width: 84%;
	height: 83%;
	background: url("../images/info_container_bg.jpg");
	/*background-color: #2b2b2b;*/

	margin: 6% 0 5% 0;
	position: relative;
	z-index: 60;
}
.imgGrid ul, ul.nav-list, ul.subMenu {
	list-style: none;
}
.imgGrid li {
	position: relative;
	float: left;
	width: 25%;
	height: 25%;
}
.imgGrid li img {
	display: block;
	width: 100%;
	height: 100%;
}
.hoverBox {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../images/whiteBG.png");
	display: none;
}
.searchIcon {
	display: block;
	width: 
}

.footerSection {
	float: none;
	margin: 0 auto;
	/*width: 100%;*/
	height: 130px;
	border: #000 solid 2px;
}
.footerSection > ul {
	list-style: none;
}